.auth-box{
    width: 360px;
    /* border: 2px solid black; */
    background: #f8f9fa;
    margin: 80px auto;
    padding: 25px;
    border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 14px;
    width: 94%;
    margin-bottom: 15px;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #003366;
    border: none;
     cursor: pointer;
}

button:disabled{
    background-color: #999;
    cursor:none ;
}

.success { 
   margin-top: 18px;
  padding: 10px;
  border-radius: 6px;
  background: #e6f4ea;
  color: #2e7d32;
  font-size: 14px;
  text-align: center;
}
.error { 
    margin-top: 18px;
  padding: 10px;
  border-radius: 6px;
  background: #fdecea;
  color: #c62828;
  font-size: 14px;
  text-align: center;
}
