<div class="auth-box">
  <h2>Reset Password</h2>

  <form [formGroup]="form" (ngSubmit)="ResetPassword()">
    <input
      type="password"
      placeholder="New Password"
      formControlName="newPassword"
    />
<div class="password-rules"
      *ngIf="form.get('newPassword')?.touched">
      <p [class.valid]="form.get('newPassword')?.value?.length >= 8">
        • Minimum 8 characters
      </p>
      <p [class.valid]="/[A-Z]/.test(form.get('newPassword')?.value)">
        • One uppercase letter
      </p>
      <p [class.valid]="/[a-z]/.test(form.get('newPassword')?.value)">
        • One lowercase letter
      </p>
      <p [class.valid]="/\d/.test(form.get('newPassword')?.value)">
        • One number
      </p>
      <p [class.valid]="/[@$!%*?&]/.test(form.get('newPassword')?.value)">
        • One special character
      </p>
    </div>
    <button type="submit" [disabled]="form.invalid">
    Reset Password
  </button>
  </form>

  <p class="success" *ngIf="message">{{ message }}</p>
  <p class="error" *ngIf="error">{{ error }}</p>
</div>
