<div class="login-card">
<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="submit()">


  <div>
    <label>Username</label><br />
    <input
      type="text"
      formControlName="username"
      placeholder="Enter username"
    />
  </div>

  <div>
    <label>Password</label><br />
    <input
      type="password"
      formControlName="password"
      placeholder="Enter password"
    />
  </div>
<span   style="color: red;" *ngIf="loginForm.get('password')?.errors?.['minlength']">
  Password must be at least 6 characters
</span>
<span   style="color: red;" *ngIf="loginForm.get('username')?.errors?.['minlength']">
  Username must be at least 3 characters
</span>
  <button type="submit" [disabled]="loginForm.invalid">
    Login
  </button>

</form>
<p *ngIf="successMessage" class="success-msg">
  {{ successMessage }}
</p>

<p *ngIf="errorMessage" class="error-msg">
  {{ errorMessage }}
</p>
<p>
  New user?
  <a routerLink="/register">Register</a>
</p>
</div>