<div class="register-card">

  <h2>Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">

    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        formControlName="username"
        placeholder="Enter username"
      />
      <small *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors">
        <span *ngIf="registerForm.get('username')?.errors?.['required']">
          Username is required
        </span>
        <span *ngIf="registerForm.get('username')?.errors?.['minlength']">
          Username must be at least 3 characters
        </span>
      </small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Enter email"
      />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
      />
    </div>
<div class="password-rules"
  *ngIf="registerForm.get('password')?.touched">

  <p [class.valid]="registerForm.get('password')?.value?.length >= 8">
    • Minimum 8 characters
  </p>

  <p [class.valid]="hasUppercase(registerForm.get('password')?.value)">
    • At least one uppercase letter
  </p>

  <p [class.valid]="hasLowercase(registerForm.get('password')?.value)">
    • At least one lowercase letter
  </p>

  <p [class.valid]="hasNumber(registerForm.get('password')?.value)">
    • At least one number
  </p>

  <p [class.valid]="hasSpecialChar(registerForm.get('password')?.value)">
    • At least one special character (@$!%*?&)
  </p>

</div>

    <div class="form-group">
  <label>Role</label>

  <label class="radio-inline">
    <input
      type="radio"
      formControlName="role"
      value="user"
    />
    <div>
    User</div>
  </label>
</div>


<p class="success" *ngIf="successMessage">
    {{ successMessage }}
  </p>
<p class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
    <button type="submit" [disabled]="registerForm.invalid">
      Register
    </button>

  </form>

  <p>
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>

</div>
