<div class="search-container">

  <h2>Search Flights</h2>

  <form [formGroup]="searchForm" (ngSubmit)="search()" class="search-form">

    <div class="row">
      <div class="field">
        <label>From</label>
        <select formControlName="fromPlace">
          <option value="">Select From Place</option>
          <option *ngFor="let a of places" [value]="a">{{a}}</option>
        </select>
        <!-- <input type="text" formControlName="fromPlace" placeholder="From city"> -->
      </div>

      <div class="field">
        <label>To</label>
        <select formControlName="toPlace">
          <option value="">Select To Place</option>
          <option *ngFor="let toPlace of places" [value]="toPlace" [disabled]="searchForm.get('fromPlace')?.value===toPlace">{{toPlace}}</option>
        </select>
        <!-- <input type="text" formControlName="toPlace" placeholder="To city"> -->
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label>Departure Date</label>
        <input type="date" formControlName="departureDate" [min]="today">
      </div>

      <div class="field">
        <label>Return Date</label>
        <input
          type="date"
          [min]="searchForm.get('departureDate')?.value||today"
          formControlName="returnDate"
        >
      </div>
    </div>

    <div class="row">
      <div class="field full">
        <label>Trip Type</label>
        <select formControlName="tripType">
          <option value="oneWay">One Way</option>
          <option value="roundTrip">Round Trip</option>
        </select>
      </div>
    </div>

    <button type="submit" [disabled]="searchForm.invalid">
      Search Flights
    </button>

  </form>
<table *ngIf="flights.length > 0;else noFlights">
  <tr>
    <th>Flight No</th>
    <th>Airline</th>
    <th>From</th>
    <th>To</th>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let flight of flights">
    <td>{{ flight.flightId }}</td>
    <td>{{ flight.airlineName }}</td>
    <td>{{ flight.fromPlace }}</td>
    <td>{{ flight.toPlace }}</td>
    <td>{{ flight.depatureTime | date:'short' }}</td>
    <td>{{ flight.arrivalTime | date:'short' }}</td>
    <td>₹{{ flight.price }}</td>
    <td>
     <button type="button" class="book-btn" (click)="selectFlight(flight)">
      Book Now
    </button>
    </td>
  </tr>

</table>
  <ng-template #noFlights>
  <div class="no-flights">
    No flights found
  </div>
</ng-template>
</div>
