.add-flight-container {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 14px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  gap: 12px;
}

small {
  color: red;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #999;
}

.success {
 padding: 8px 12px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-size: 14px;
  color:#003366;
 background: #8be0d2ff;
}

.error {
  background: #ffe5e5;
  color: #b00020;
  padding: 8px 12px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-size: 14px;
}
