<div class="bookings">
    <h2>Booking Details</h2>
    <form [formGroup]="bookingForm" (ngSubmit)="book()" class="booking">
        <div class="name-section">
            <label>Name</label>
            <input formControlName="name" placeholder="Enter Bookers Name"/>
        </div>
        <div class="email">
            <label>Email</label>
           <p>{{ bookingForm.get('emailId')?.value }}</p>

        </div>
        <div class="seats">
            <label>No Of Seates</label>
            <input type="number" min="1" max="10" formControlName="noOfSeats" placeholder="No Of Seats"/>
        </div>
          <div formArrayName="passengers">

    <div *ngFor="let p of passengers.controls; let i = index"
         [formGroupName]="i">

      <input formControlName="name" placeholder="Passenger Name" />
      <input type="number" formControlName="age" placeholder="Age" min="1" />

    <div>
      <label>Gender</label>
  <label>
    <input type="radio" formControlName="gender" value="Male">
    Male
  </label>

  <label>
    <input type="radio" formControlName="gender" value="Female">
    Female
  </label>
</div>
      <input formControlName="seatNo" placeholder="Seat No" />

      <select formControlName="meal">
        <option value="">Meal</option>
        <option value="veg">Veg</option>
        <option value="nonVeg">Non-Veg</option>
      </select>
<!-- 
      <button type="button" (click)="removePassenger(i)">Remove</button> -->

    </div>

  </div>

  <!-- <button type="button" (click)="addPassenger()">Add Passenger</button> -->
        <button type="submit" [disabled]="bookingForm.invalid">Book Now</button>
    </form>
    <p *ngIf="successMessage" class="success">{{successMessage}}</p>
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
</div>