
.history-card{
    background-color: white;
    padding:10px;
}
.passengers table {

  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.passengers th, .passengers td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.dailogDrop{
  position:fixed;
  /* filter:blur(5px); */
  top:0;
  left:0;
  width:100%;
  border-radius:10px;
  /* border:1px solid black; */
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:10px;
  display:flex;
  align-items:center;
  /* color:white; */
  justify-content:center
}

.dailog{
  border:1px solid;
  padding:10px;
  border-radius:10px;
  background-color:white;
}

.cancelOptions{
  cursor:pointer;
  padding:5px;
  justify-content:right;
  display:flex;
  gap:10px;
}

.dailogDrop button {
  padding:10px;
  border:none;
  border-radius:10px;
   background-color: #2e7d32;
}