
.history-card{
    background-color: white;
    padding:10px;
}
.passengers table {

  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.passengers th, .passengers td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
