<div class="expired-password">
    <h2>Password Expirey Update</h2>
    <p class="info">your is Expired Please Update To new One</p>
    <form [formGroup]="expiredForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label>username</label>
            <input formControlName="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label>Old Password</label>
            <input type="password" formControlName="oldPassword" placeholder="Enter Old Password">
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" formControlName="newPassword" placeholder="Enter New Password">
        </div>
        <div class="form-group">
      <label>Confirm New Password</label>
      <input type="password" formControlName="confirmPassword"  placeholder="Re-enter New Password"/>
    </div>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>

    <button type="submit" [disabled]="expiredForm.invalid">
      Update Password
    </button>

    </form>
</div>