.change-password-card {
  width: 380px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  /* font-family: Arial, Helvetica, sans-serif; */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 14px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

input {
  width: 95%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #999;
}

.password-rules {
  background: #f7f9fc;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px;
}

.password-rules p {
  margin: 3px 0;
  text-align: center;
  font-size: 13px;
  color: #b00020;
}

.password-rules p.valid {
  color: green;
  font-weight: 600;
}

.success {
  color: green;
  text-align: center;
  margin-top: 10px;
}

.error {
  color: #b00020;
  text-align: center;
  margin-top: 10px;
}
