.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding: 14px 30px;
  color: white;
  border-radius: 10px;
}

.nav-left {
  font-size: 20px;
  font-weight: bold;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.page-container {
  padding: 40px 20px;
  background-image: url('https://imgs.search.brave.com/r8vTWpe8xgULhgd4xphkXfY4uql-5WW0bmyO6gfY10w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTc0/MTI2MTg0Ni9waG90/by9sYW5kaW5nLWlu/LXN1bnNldC1odWVz/LWFpcnBsYW5lLWxh/bmRpbmctYXQtc3Vu/cmlzZS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9MFNkYmJn/VDFtajVYckVWRjlD/MTI3ZXpfTlhnWDhE/cFNFRUtYWGd1ME1j/QT0');
  background-size: cover;
  background-position: center;
  /* backdrop-filter: blur(5px); */
  min-height: calc(100vh - 80px);
  border-radius: 15px;
}
.logout {
  cursor: pointer;
  text-decoration: underline;
}
.login {
  text-decoration: underline;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ffffff33;
  border: 1px solid white;
}
.logout-confirm {
  position: fixed;
  top: 40%;
  left: 50%;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 1000;
  text-align: center;
}

.logout-confirm button {
  margin: 0 10px;
  padding: 6px 14px;
}.profile-wrapper {
  position: relative;
}

.profile-btn {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 4px;
}

.profile-btn:hover {
  background-color: rgba(255,255,255,0.15);
}

.profile-menu {
  position: absolute;
  right: 0;
  top: 35px;
  background: white;
  color: black;
  min-width: 160px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 1000;
}

.profile-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.profile-menu a:hover {
  background-color: #f0f0f0;
}
