.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding: 14px 30px;
  color: white;
  border-radius: 10px;
}

.nav-left {
  font-size: 20px;
  font-weight: bold;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.page-container {
  padding: 40px 20px;
}
