<nav class="navbar">
  
  <div class="nav-left">
 <a routerLink="/search-flights" style="text-decoration: none;"> Airlines</a>
  </div>

  <div class="nav-center" *ngIf="isLoggedIn">
    <a routerLink="/getAllFlights">All Flights</a>
     | 
    <a routerLink="/search-flights">Search Flights </a>
    <a routerLink="/addFlight" *ngIf="isAdmin()">| Add Flight</a>
  </div>

  <div class="nav-right">
    <a *ngIf="!isLoggedIn" routerLink="/login" class="login">Login</a>

    <a *ngIf="isLoggedIn " routerLink="/bookingHistory">History</a>
   <div class="profile-wrapper" *ngIf="isLoggedIn">
  <div class="profile-btn" (click)="toggleProfileMenu()">
    {{ username }}
  </div>

  <div class="profile-menu" *ngIf="showProfileMenu">
    <a routerLink="/changePassword" (click)="closeProfileMenu()">
      Change Password
    </a>
    <a (click)="openLogoutConfirm()">
      Logout
    </a>
  </div>
</div>


  </div>

</nav>

<div *ngIf="showLogoutConfirm" class="logout-confirm">
  <div class="logout-effects">
  <p>Do you want to logout?</p>
  <button class="yes-button" (click)="confirmLogout()">Yes</button>
  <button  class="no-button" (click)="cancelLogout()">No</button>
  </div>
</div>


<div class="page-container">
  <router-outlet></router-outlet>
</div>
